.headerlinks {
    background-color: rgba(235, 106, 0, 0.7);
    display: flex;
    justify-content: center;
    font-family: Trebuchet MS;
    font-weight: bolder;
}

.context {
    font-size: 20px;
    font-family: 'Times New Roman', sans-serif;
    background-color: rgba(219, 73, 29, 0.7);
    text-align: center;
}

#container {
    display: flex;
    flex-direction: row;
}



.border {
    border: 5px solid #000;
    padding: 10px;
    border-style: double;
}


.headerlinks:hover {
    background-color: rgba(238, 0, 0, 0.7);
}


.headerlinks:hover {
    background-color: rgba(238, 0, 0, 0.7);
}